<div class="full-search-wrap" style="width: 1792px; height: 884px;">
    <div class="full-search container">
        <div class="close-s"><a href="#">Close</a></div>
        <form action="/" class=" search-full-form">
            <input type="text" id="s-full" class="form-search__input form-search__input_search-full" placeholder="Search">
            <button type="submit" class="form-search__input_icon pull-right">
                <i class="mdi mdi-magnify"></i>
            </button>
            <p class="hint">Type in your search and press enter</p>
        </form>
    </div>
</div>

<header class="header sticky" id="header">
    <div class="header-sticky__wrapp">
        <div class="container">
            <div class="row">
                <div class="logo col-md-3 col-sm-4 col-xs-12">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/img/logo.png"/>
                    </a>
                </div>
                <div class="main__menu-wrap col-md-8 col-sm-7 col-xs-6">
                    <span class="responsive-menu__button" id="responsive-menu"><i class="mdi mdi-menu"></i></span>
                    <nav class="main__menu pull-right" id="main__nav">
                        <ul class="m-menu__list clearfix">
                            <li class="m-menu__list-item" routerLinkActive="m-menu__list-item_active" [routerLinkActiveOptions]="{exact:true}">
                                <a routerLink="/">Home</a>
                            </li>
                            <li class="m-menu__list-item menu-item-has-children" routerLinkActive="m-menu__list-item_active" [routerLinkActiveOptions]="{exact:true}">
                                <a routerLink="/model">Talent</a>
                                <ul class="m-menu__sub">
                                    <li class="m-menu__sub-item">
                                        <a routerLink="/model">Models</a>
                                    </li>
                                    <li class="m-menu__sub-item">
                                        <a routerLink="/actor">Actors</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="m-menu__list-item" routerLinkActive="m-menu__list-item_active" [routerLinkActiveOptions]="{exact:true}">
                                <a routerLink="/apply">Become Soli</a>
                            </li>
                            <li class="m-menu__list-item" routerLinkActive="m-menu__list-item_active" [routerLinkActiveOptions]="{exact:true}">
                                <a routerLink="/about">The agency</a>
                            </li>
                            <li class="m-menu__list-item" routerLinkActive="m-menu__list-item_active" [routerLinkActiveOptions]="{exact:true}">
                                <a routerLink="/contact">Contacts</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
