<!-- Slider Section Start -->
<section class="cd-hero">
    <ul class="cd-hero-slider">
        <li class="selected" style="background-image: url('assets/img/main_img.jpg')">
            <div class="cd-full-width">
                <div class="cd-full__contant">
                    <h1 class="m-img__title">International Talent<br> Managment Agency</h1>
                </div>
            </div> <!-- .cd-full-width -->
        </li>
        <li style="background-image: url('assets/img/main_img.jpg')">
            <div class="cd-full-width">
                <div class="cd-full__contant">
                    <h1 class="m-img__title">International Talent<br> Managment Agency</h1>
                </div>
            </div> <!-- .cd-full-width -->
        </li>
        <li style="background-image: url('assets/img/main_img.jpg')">
            <div class="cd-full-width">
                <div class="cd-full__contant">
                    <h1 class="m-img__title">International Talent<br> Managment Agency</h1>
                </div>
            </div> <!-- .cd-full-width -->
        </li>
    </ul> <!-- .cd-hero-slider -->

    <div class="cd-slider-nav">
        <nav>
            <ul>
                <li class="selected"><a href="#0"></a></li>
                <li><a href="#0"></a></li>
                <li><a href="#0"></a></li>
            </ul>
        </nav>
    </div> <!-- .cd-slider-nav -->
</section> <!-- .cd-hero -->
<!-- Slider Section End -->


<!-- About Section Start -->
<div class="section about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 about__text-wrapp">
                <div class="about__title title__grey">Our Agency</div>
                <div class="about__big-tex text__quote"><span class="line__text"></span>Models from our agency are involved in the Haliax,  New York, Paris, and Toronto fashion weeks, working with the leading brands.</div>
            </div>
            <div class="col-md-6 about__text-wrapp">
                <div class="main__text main__text_about">Soli Management Inc. opened in March 2018 our company specializes in Runway Productions, Brand Promotion and Model Development/ Coaching. Under the leadership and expertise of Owner and Creative Director Solitha Shortte; who has over ten years of experience as an International Fashion model, runway coach and runway production coordinator. We’re changing the narrative in the industry by taking a new approach to the fashion scene, emphasizing the need for more diversity in our celebration and promotion of beauty standards.</div>
                <a routerLink="/model" class="more animation">Read more</a>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->

<!-- Portfolio Section Start -->
<soli-top-talent></soli-top-talent>
<!-- Portfolio Section End -->

<soli-testimonials></soli-testimonials>