<soli-sub-header></soli-sub-header>
<!-- model model Section Start -->
<section class="section s-model">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
                <h3 style="font-weight: bold; width: 100%; text-align: center; margin: 0px 0px 10px 0px;">Headshots</h3>
            <div class="row">
                    <div id="model-slider" class="s-model__photos col-md-6">
                        <div class="sp-slides">
                            <div *ngFor="let headshot of actor.headshots" class="sp-slide">
                                <img class="sp-image" [src]="headshot"
                                     alt="headshot"
                                    [attr.data-src]="headshot"
                                    [attr.data-small]="headshot"
                                    [attr.data-medium]="headshot"
                                    [attr.data-large]="headshot"
                                    [attr.data-retina]="headshot"/>
                            </div>
                        </div>
                        <div class="sp-thumbnails">
                            <img *ngFor="let headshot of actor.headshots" class="sp-thumbnail"  alt="thumb1" [src]="headshot"/>
                        </div>
                    </div>

                    <div class="s-model__contant col-sm-5">
                        <h2 class="s-model__name">
                            <span class="line"></span>{{actor.brand}}
                        </h2>
                        <div class="s-model__info clearfix">
                            <ul class="s-model__list s-model__list_l">
                                <li class="s-model__list-item">Height <span></span></li>
                                <li class="s-model__list-item" *ngIf="actor.gender == 'Female'">Bust</li>
                                <li class="s-model__list-item" *ngIf="actor.gender == 'Male'">Chest</li>
                                <li class="s-model__list-item">Waist</li>
                                <li class="s-model__list-item">Hips</li>
                                <li class="s-model__list-item">Dress</li>
                                <li class="s-model__list-item">Shoe</li>
                                <li class="s-model__list-item">Hair colour</li>
                                <li class="s-model__list-item">Eyes</li>
                                <li class="s-model__list-item">Based in</li>
                            </ul>
                            <ul class="s-model__list s-model__list_r">
                                <li class="s-model__list-item s-model__list-item_r">{{actor.attributes?.height}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{actor.attributes?.chest}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{actor.attributes?.waist}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{actor.attributes?.hips}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{actor.attributes?.dress}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{actor.attributes?.shoe}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{actor.attributes?.hair}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{actor.attributes?.eyes}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{actor.location}}</li>
                            </ul>
                        </div>
                        <a class="btn btn__red animation" data-toggle="modal" data-target="#bookModal">Book this actor</a>
                        <a style="margin-top: 10px;" class="btn btn__red animation">Dowload Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <soli-booking></soli-booking>
</section><!-- model model Section End -->