<!-- Testimonal Section Start -->
<section class="section testimonal bg-grey ">
    <div class="container">
        <div class="row">
            <h2 class="section__title"><span class="line"></span>Testimonials</h2>
            <ul class="testimonal__list clearfix">
                <li class="testimonal__list-item col-md-4">
                    <div class="date testimonal__date">02 Jul 2016</div>
                    <div class="text testimonal__text">“ Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. ”</div>
                    <div class="testimonal__photo"><img src="assets/img/testimonal-photo.png" alt=""></div>
                    <div class="testimonal__name">Jade Doe</div>
                </li>
                <li class="testimonal__list-item col-md-4">
                    <div class="date testimonal__date">04 Jan 2016</div>
                    <div class="text testimonal__text">“ Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. ”</div>
                    <div class="testimonal__photo"><img src="assets/img/testimonal-photo2.png" alt=""></div>
                    <div class="testimonal__name">Jade Doe</div>
                </li>
                <li class="testimonal__list-item col-md-4">
                    <div class="date testimonal__date">14 Feb 2016</div>
                    <div class="text testimonal__text">“ Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. ”</div>
                    <div class="testimonal__photo"><img src="assets/img/testimonal-photo3.png" alt=""></div>
                    <div class="testimonal__name">Jade Doe</div>
                </li>
            </ul>
        </div>
    </div>
</section><!-- Testimonal Section End -->
