<!-- Clients Section Start -->
<div class="section clients">
    <div class="container">
        <div class="row">
            <div class="clients__img col-lg-2 col-md-4 col-sm-6 col-xs-12"><img src="assets/img/brand1.png" alt=""></div>
            <div class="clients__img col-lg-2 col-md-4 col-sm-6 col-xs-12"><img style="filter: contrast(0);" src="assets/img/brand2.png" alt=""></div>
            <div class="clients__img col-lg-2 col-md-4 col-sm-6 col-xs-12"><img style="filter: contrast(0);" src="assets/img/brand3.png" alt=""></div>
            <div class="clients__img col-lg-2 col-md-4 col-sm-6 col-xs-12"><img src="assets/img/brand4.png" alt=""></div>
            <div class="clients__img col-lg-2 col-md-4 col-sm-6 col-xs-12"><img style="filter: contrast(0);" src="assets/img/brand5.png" alt=""></div>
            <div class="clients__img col-lg-2 col-md-4 col-sm-6 col-xs-12"><img src="assets/img/brand6.png" alt=""></div>
            <div class="clients__img col-lg-2 col-md-4 col-sm-6 col-xs-12"><img src="assets/img/brand7.webp" alt=""></div>
        </div>
    </div>
</div><!-- Clients Section End -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__widgets clearfix">
                <div class="col-md-4 col-sm-6 col-xs-12 footer__social">
                    <div class="footer__title">We are social</div>
                    <ul class="fs__list clearfix">
                        <li class="fs__list-item"><a href="https://ca.linkedin.com/company/soli-productions-management-inc" class="animation"><i class="mdi mdi-linkedin"></i></a></li>
                        <li class="fs__list-item"><a href="https://www.facebook.com/SoliProductions/" class="animation"><i class="mdi mdi-facebook"></i></a></li>
                        <li class="fs__list-item"><a href="https://www.instagram.com/solimgmt/" class="animation"><i class="mdi mdi-instagram"></i></a></li>
                        <li class="fs__list-item"><a href="https://twitter.com/ThisIsSoli" class="animation"><i class="mdi mdi-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 footer__adres">
                    <div class="footer__title">Visit us</div>
                    <div class="fa__text">HQ:<br> 5121 Sackville Street, Suite 601,<br> Halifax, Nova Scotia ,B3J1K1</div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 footer__contacts">
                    <div class="footer__title">Contact us</div>
                    <div class="fa__tel">+1 902-402-4555</div>
                    <a href="mailto:info@soliproductions.com">info@solimgmt.com</a>
                </div>
            </div>
            <div class="footer__copyrite">© 2024 Soli Mgmt. All Rights Reserved.</div>
        </div>
    </div>
</footer>

<div class="scroll-top animation"><i class="mdi mdi-arrow-up"></i></div>



<div class="hidden"></div>
