<soli-sub-header></soli-sub-header>
<section class="section apply">
    <div class="container">
        <div class="row">
            <h3 class="text__quote centered">Please provide us with your contact information.</h3>
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <form class="apply-form form-horizontal">
                    <div class="form-block">
                          <div class="form-group">
                                <label for="gender" class="col-sm-4 control-label">Gender <span class="req">*</span></label>
                                <div class="col-sm-8">
                                  <select name="gender" id="gender" class="form-control" required>
                                    <option label="Select"></option>
                                      <option value="female">Female</option>
                                      <option value="male">Male</option>
                                      <option value="male">Non Binary</option>
                                  </select>
                                </div>
                          </div>
                          <div class="form-group">
                            <label for="name" class="col-sm-4 control-label">Name <span class="req">*</span></label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="name" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="phone" class="col-sm-4 control-label">Phone</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="phone">
                           </div>
                          </div>
                          <div class="form-group">
                                <label for="email" class="col-sm-4 control-label">Email <span class="req">*</span></label>
                                <div class="col-sm-8">
                                  <input type="email" class="form-control" id="email" required>
                              </div>
                          </div>
                          <div class="form-group">
                            <label for="phone" class="col-sm-4 control-label">Instagram</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="phone">
                           </div>
                          </div>
                          <div class="form-group">
                                <label for="b-date" class="col-sm-4 control-label">Date of birth <span class="req">*</span></label>
                                <div class="col-sm-8 form-row">
                                    <div class="form-row__col form-row__col_xs">
                                        <input type="text" class="form-control" id="b-date">
                                    </div>
                                    <div class="form-row__col form-row__col_s">
                                        <select name="b-month" id="b-month" class="form-control" required>
                                        <option label="Select"></option>
                                          <option value="1">January</option>
                                          <option value="2">February</option>
                                          <option value="3">March</option>
                                          <option value="4">April</option>
                                          <option value="5">May</option>
                                          <option value="6">June</option>
                                          <option value="7">July</option>
                                          <option value="8">August</option>
                                          <option value="9">September</option>
                                          <option value="10">October</option>
                                          <option value="11">November</option>
                                          <option value="12">December</option>
                                      </select>
                                    </div>
                                    <div class="form-row__col form-row__col_m">
                                        <input type="text" class="form-control" id="b-year" required>
                                    </div>
                                </div>
                          </div>
                          <div class="form-group">
                            <label for="state" class="col-sm-4 control-label">Country</label>
                            <div class="col-sm-8">
                              <select name="state" id="state" class="form-control">
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="city" class="col-sm-4 control-label">City</label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="city">
                           </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <p>PHOTO (UP TO 5MB EACH)</p>
                              <p>GUIDE FOR IMAGES</p>
                              <ul>
                                <li>Please submit a full-length, waist-up, close-up, and profile</li>
                                <li>Do not wear makeup</li>
                                <li>Take images in front facing natural daylight</li>
                                <li>Clean and simple images are best!</li>
                              </ul>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="city" class="col-sm-4 control-label">Full-length</label>
                            <div class="col-sm-8">
                              <input type="file" accept="image/*" class="form-control" id="fulllength">
                           </div>
                          </div>
                          <div class="form-group">
                            <label for="city" class="col-sm-4 control-label">Close-up</label>
                            <div class="col-sm-8">
                              <input type="file" accept="image/*" class="form-control" id="close-up">
                           </div>
                          </div>
                          <div class="form-group">
                            <label for="city" class="col-sm-4 control-label">Waist-up</label>
                            <div class="col-sm-8">
                              <input type="file" accept="image/*" class="form-control" id="waist-up">
                           </div>
                          </div>
                          <div class="form-group">
                            <label for="city" class="col-sm-4 control-label">Profile</label>
                            <div class="col-sm-8">
                              <input type="file" accept="image/*" class="form-control" id="profile">
                           </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <ul style="list-style-type: none; margin: 0; padding: 0;">
                                <li><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" style="margin-right: 5px;">I understand and agree that, upon my acceptance (that is not compulsory) you will also send me information by email.</li>
                                <li><input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" style="margin-right: 5px;">I understand and agree that upon my acceptance (that is not compulsory) you will be entitled to transfer my data to third parties with whom you have a contractual relationship (partners, sponsors, etc.).</li>
                              </ul>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-8 col-sm-offset-4">
                                <button type="submit" class="btn btn-default btn__red animation btn-full pull-right">apply now</button>
                            </div>
                          </div>
                    </div>
                  </form>
            </div>

        </div>
    </div>
</section>
