<soli-sub-header></soli-sub-header>
<!-- model model Section Start -->
<section class="section s-model">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
                <h3 style="font-weight: bold; width: 100%; text-align: center; margin: 0;">Portfolio</h3>
            <div class="row">
                    <div id="model-slider" class="s-model__photos col-md-6">
                        <div class="sp-slides">
                            <div *ngFor="let portfolio of model.portfolio" class="sp-slide">
                                <img class="sp-image" [src]="portfolio"
                                     alt="portfolio"
                                    [attr.data-src]="portfolio"
                                    [attr.data-small]="portfolio"
                                    [attr.data-medium]="portfolio"
                                    [attr.data-large]="portfolio"
                                    [attr.data-retina]="portfolio"/>
                            </div>
                        </div>
                        
                        <div class="sp-thumbnails">
                            <img *ngFor="let portfolio of model.portfolio" class="sp-thumbnail"  alt="thumb1" [src]="portfolio"/>
                        </div>
                    </div>

                    <div class="s-model__contant col-sm-5">
                        <h2 class="s-model__name">
                            <span class="line"></span>{{model.brand}}
                        </h2>
                        <div class="s-model__info clearfix">
                            <ul class="s-model__list s-model__list_l">
                                <li class="s-model__list-item">Height <span></span></li>
                                <li class="s-model__list-item" *ngIf="model.gender == 'Female'">Bust</li>
                                <li class="s-model__list-item" *ngIf="model.gender == 'Male'">Chest</li>
                                <li class="s-model__list-item">Waist</li>
                                <li class="s-model__list-item">Hips</li>
                                <li class="s-model__list-item">Dress</li>
                                <li class="s-model__list-item">Shoe</li>
                                <li class="s-model__list-item">Hair colour</li>
                                <li class="s-model__list-item">Eyes</li>
                                <li class="s-model__list-item">Based in</li>
                                <li class="s-model__list-item">Socials</li>
                            </ul>
                            <ul class="s-model__list s-model__list_r">
                                <li class="s-model__list-item s-model__list-item_r">{{model.attributes?.height}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{model.attributes?.chest}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{model.attributes?.waist}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{model.attributes?.hips}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{model.attributes?.dress}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{model.attributes?.shoe}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{model.attributes?.hair}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{model.attributes?.eyes}}</li>
                                <li class="s-model__list-item s-model__list-item_r">{{model.location}}</li>
                                <li>
                                    <ul class="fs__list clearfix">
                                        <li *ngIf="model.instagram" class="fs__list-item"><a href="https://www.instagram.com/{{model.instagram}}" target="_blank" class="animation" style="color: #000;" ><i class="mdi mdi-instagram"></i></a></li>
                                        <li *ngIf="model.tiktok" class="fs__list-item"><a href="https://tiktok.com/@{{model.tiktok}}" target="_blank" class="animation" style="color: #000;" ><i class="mdi mdi-music-note"></i></a></li>
                                        <li *ngIf="model.facebook" class="fs__list-item"><a href="https://www.facebook.com/{{model.facebook}}" target="_blank" class="animation" style="color: #000;" ><i class="mdi mdi-facebook"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <a class="btn btn__red animation" data-toggle="modal" data-target="#bookModal" style="margin-bottom: 10px;">Book this model</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
            <h3 style="font-weight: bold; width: 100%; text-align: center;">Digitals</h3>
            <div style="display: flex; width: 100%; flex-wrap: wrap; align-items: start; justify-content: center;">
                <div *ngFor="let digital of model.digitals" style="display: inline-flex; width: 33%;">
                    <img class="img-responsive" [src]="digital" alt="digital" style="object-fit: contain; padding: 5px;">
                </div>
            </div>
        </div>
    </div>
    </div>
    <soli-booking></soli-booking>
</section><!-- model model Section End -->