<soli-sub-header></soli-sub-header>


	<!-- Services Section Start -->
	<section class="section services">
		<div class="container">
			<div class="row">
				<h2 class="section__title">About Us</h2>
				<p>
					Soli Management Inc. opened in March 2018 our company specializes in Runway Productions, Brand Promotion and Model Development/ Coaching. Under the leadership and expertise of Owner and Creative Director Solitha Shortte; who has over ten years of experience as an International Fashion model, runway coach and runway production coordinator. We’re changing the narrative in the industry by taking a new approach to the fashion scene, emphasizing the need for more diversity in our celebration and promotion of beauty standards.</p>
				<p>We provide our clients with a wide selection of professionally trained models to promote their brands. We celebrate beauty across the spectrum, offering models a safe space to develop their skills through our group/ individual training sessions. The goal is to instill confidence in aspiring models as they pursue their dreams of becoming professional models.
				</p>
					<!-- <div class="services__section clearfix">
						<div class="col-md-6 services__content services__content_left">
							<h3 class="services__title services__title_l">Halifax Fashion Week</h3>
							<div class="services__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
							<a href="services.html" class="more animation">Learn More</a>
						</div>
						<div class="col-md-6 services__photo"><img src="assets/img/services__photo.jpg" alt=""></div>
					</div>
					<div class="services__section clearfix">
						<div class="col-md-6 services__photo"><img src="assets/img/services__photo2.jpg" alt=""></div>
						<div class="col-md-6 services__content services__content_right">
							<h3 class="services__title services__title_r">Paris Fashion Week</h3>
							<div class="services__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
							<a href="services.html" class="more animation">Learn More</a>
						</div>
					</div>
					<div class="services__section clearfix">
						<div class="col-md-6 services__content services__content_left">
							<h3 class="services__title services__title_l">This Is Us</h3>
							<div class="services__text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</div>
							<a href="services.html" class="more animation">Learn More</a>
						</div>
						<div class="col-md-6 services__photo"><img src="assets/img/services__photo3.jpg" alt=""></div>
					</div> -->

			</div>
		</div>
	</section><!-- Services Section End -->